<style type="text/css">
section{
	margin-top: 7%;
	margin-left: 10%;
}
#title{
	width: 50%;
}
#details{
	width: 50%;
	height: 100%;
}
#butt{
    height: 20%;
    width:30%;
    background: #1919ff; /* Or whatever background color you want to use */
    color:white;
    border-radius: 5px;
    border
}
#checkin{
    height: 20%;
    width:30%;
    background: #1919ff; /* Or whatever background color you want to use */
    color:white;
    border-radius: 5px;
    margin-top: 0%;
    margin-right: 30%;
}
#butt2{
    height: 10%;
    width:10%;
    background: #1919ff; /* Or whatever background color you want to use */
    color:white;
    border-radius: 5px;
    display: none;
}
#metrics{
    height: 20%;
    width:30%;
    background: #1919ff; /* Or whatever background color you want to use */
    color:white;
    border-radius: 5px;
    margin-top: 5%;
    margin-right: 30%;
}
#met{
	margin-left: 20%;
}
#check{
	margin-left: 13%;
}
#add{
	margin-top: 0%;
	margin-left: 30%;
}
#submit{
	margin-left: 20%;
}
a{
	text-decoration: none;
	color:white;
}
form{
	display:none;
}
#buttons{
 margin-left: 15%;
}
</style>
 <script type="text/javascript">
  $(document).ready(function(){
   $("#butt").click(function () {
	 $("form").toggle("fast");
	 $("#butt").toggle("fast");
	 $("#butt2").toggle("fast");
	  $("#checkin").toggle("fast");
	  $("#metrics").toggle("fast");
  });
});
 </script>
 <script type="text/javascript">
  $(document).ready(function(){
   $("#butt2").click(function () {
	 $("form").toggle("fast");
	 $("#butt").toggle("fast");
	 $("#butt2").toggle("fast");
	  $("#checkin").toggle("fast");
	  	  $("#metrics").toggle("fast");


  });
});
 </script>
<section  data-ng-controller="HomeController">
<div id = "buttons">	
	<a href="">
<div id = "butt">
	<br>
	
<p id = "add">Add an Event</p>

</div>
</a>
		<br>
		<form>
		Event Title:<br>
		<input type="text" id = "title">
		<br>
		<br>
		Event Date:<br>
<link href="lib/jquery-ui-1.11.4.custom/jquery-ui.theme.css" rel="stylesheet" type="text/css" />	 
	<!-- add scripts -->
	<script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
	<script src="lib/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>

<input name="dob" id="datepicker" type="date" placeholder="mm/dd/yyyy">
<script>
	$(function() {$( "#datepicker" ).datepicker();});
		</script>

        <br>
		<br>

		Event Time:

		<input id='timepicker' type='text'name='timepicker'/>

		<link rel='stylesheet' type='text/css'href='lib/TimePicki-master/css/timepicki.css'/>
		<script type='text/javascript'src='lib/TimePicki-master/js/timepicki.js'></script>

		<script>
		$('#timepicker').timepicki(); 
		</script>

		<br>


		Point Value:
		<br>
		<input id = "point" type='text' name = 'pointpicker'/>
        <br>
		<br>
		Event Details:<br>
		<textarea rows = "8" id = "details"></textarea>
		</form>
		<a href="">
				<br>
		<div id = "butt2">	
			<br>
		<p id = "submit">Submit!</p>
		</div>
	</a>

<a href="/#!/checkin">
<div id = "checkin">
<br>
<p id = "check">Check in Students to Events</p>

</div>
</a>

<a href="/#!/metrics">
<div id = "metrics">
<br>
<p id = "met">View Student Metrics</p>

</div>
</a>


</div>
</section>
