style type="text/css">
section{
	background-color: none;
	margin-top: 7%;
	margin-left: 10%;
}
#title{
	width: 50%;
}
#details{
	width: 50%;
	height: 100%;
}
#butt{
    height: 20%;
    width:30%;
    background: lightblue; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    border
}
#checkin{
    height: 20%;
    width:30%;
    background: lightblue; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    margin-top: 0%;
    margin-right: 30%;
}
#butt2{
    height: 20%;
    width:30%;
    background: orange; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    display: none;
}
#metrics{
    height: 20%;
    width:30%;
    background: lightblue; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    margin-top: 5%;
    margin-right: 30%;
}

#attendance{
    height: 20%;
    width:30%;
    background: lightblue; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    margin-top: 5%;
   
}
#met{
	margin-left: 20%;
}
#check{
	margin-left: 13%;
}
#add{
	margin-top: 0%;
	margin-left: 30%;
}
#add2{
	height: 20%;
    width:30%;
    background: lightblue; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    display: none;
}
#add3{
	height: 20%;
    width:30%;
    background: lightblue; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    display: none;
}
#add4{
		height: 20%;
    width:30%;
    background: lightblue; /* Or whatever background color you want to use */
    color:black;
    border-radius: 5px;
    display: none;
}
#hiddenhomies{
	display: none;
}
#submit{
	margin-left: 35%;
}
.ev{
	margin-left: 30%;
}
a{
	text-decoration: none;
	color:white;
}
form{
	display:none;
}
#buttons{
 margin-left: 15%;
}
</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
 <script type="text/javascript">
  $(document).ready(function(){
   $("#butt").click(function () {
	 $("form").toggle("fast");
	 $("#butt").toggle("fast");
	 $("#butt2").toggle("fast");
	  $("#add2").toggle("fast");
	   $("#add3").toggle("fast");
 	$("#add4").toggle("fast");
 	$("#hiddenhomies").toggle("fast");
	  $("#checkin").toggle("fast");
	  $("#metrics").toggle("fast");
	  $("#attendance").toggle("fast");
  });
});
 </script>
 <script type="text/javascript">
  $(document).ready(function(){
   $("#butt2").click(function () {
	 $("form").toggle("fast");
	 $("#butt").toggle("fast");
	 $("#add2").toggle("fast");
	   $("#add3").toggle("fast");
 	$("#add4").toggle("fast");
	 $("#butt2").toggle("fast");
	  $("#checkin").toggle("fast");
	  	  $("#metrics").toggle("fast");
	  	  $("#attendance").toggle("fast");
	  	   	$("#hiddenhomies").toggle("fast");


  });
});
 </script>
<section  data-ng-controller="HomeController">
<div id = "buttons">	
	<a href="">
<div id = "butt">
	<br>
	
<p id = "add">Event Options</p>

</div>
</a>
	<div id = "hiddenhomies">
		<br>
		<a href="/#!/events/create">
		<div id = "add2">
			<br>
		<p class = "ev">New Event</p>
		</div>
		</a>
		<br>
		<a href="/#!/events">
		<div id = "add3">
			<br>
		<p class = "ev">View Events</p>
		</div>
		</a>
		
		<a href="">
				<br>
		<div id = "butt2">	
			<br>
		<p id = "submit">Done!</p>
		</div>
	</a>
	</div>
<a href="/#!/metrics">
<div id = "metrics">
<br>
<p id = "met">View Student Metrics</p>

</div>
</a>

<a href="/#!/studentattendance">
<div id = "attendance">
<br>
<p id = "met">View Student Attendance</p>

</div>
</a>


</div>
</section>
