<style type="text/css">
	#datHeaderDough{
		position: relative;
	}
</style>
<div id = "datHeaderDough" class="container" data-ng-controller="HeaderController">
		</button>
		<a href="/#!/" class="navbar-brand" id = "toasy2">COE Event Tracker</a>
		<style type="text/css">
			#toasy{
				
				color:grey;
				margin-left: 50%;
				font-size:15px;
			}
			#toasy2{
				color:grey;
				margin-top: 1.9%;
				
			}
		</style>
		<br>
		<div data-ng-controller = "EventsController">
        <a href="/#!/admin" id = "toasy" data-ng-if = "isAdmin()" class = "navbar-brand" style = "margin-top:1.2%;">Admin Page</a>
    	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" >
		
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user" style = "margin-top:0;">
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user" >
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>