

<style type="text/css">
section{
	margin-top: 4%;
	margin-left: 5%;
  width:90%;
  margin-bottom: 5%;
	background-color: lightblue;
}

</style>
<section  data-ng-controller="HomeController">
<center><h1> Student Metrics </h1></center>
</section>
<br>
<style>
.styled-select select {
   font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
   background: #333;
   color: #ccc;
   width: 168px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   margin-left:0%;
   -webkit-appearance: none;
   }



   #cssmenu {
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 12em;
}
#cssmenu li {
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin-left: 0;
  padding: 20px 30px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("images/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}
</style>

<br>
<br>

<section data-ng-controller="EventsController" data-ng-init="find()">
<style type="text/css">
.chart div {
  font: 20px sans-serif;

  background-color: steelblue;

height:400px;
width:900px;
  text-align: right;
margin-left: 5%;
  color: white;
}
#bo{

}
#too{
  margin-top:20%;
  border : 1px solid black;
}
#drunk{
  float:center;
  margin-left: -35%;
}
</style>
<br>
<br>
<div id = "drunk">
<h4>Total Event Attendance</h4>
<p>In number of students</p>
</div>
<br>
<br>
 <div id = "bo" class="chart"  data-ng-repeat="event in events">
  <div id = "test" style="height: {{event.studentIDs.length*3}}px; width:10%; margin-left: {{$index*11}}%; margin-bottom: 0px; float: bottom; margin-top: {{event.studentIDs.length* -3}}px;  border: 2px solid black;"><p id ="gogo" style = "margin-top: {{event.studentIDs.length* 4}}%; text-align: center;"><b>{{event.name}}: {{event.studentIDs.length}}</b></p></div>
</div>
<br>
<div id = "too">
<h3 style = "border-bottom: 1px solid grey; margin-top:1.9%; float:left">Average Event Attendance:</h3>
<p style = "margin-top:0.8%; margin-left:20%; font-size:25px;"><b>&nbsp {{average()}} students</b></p>
</div>
<div id = "too">
<h3 style = "border-bottom: 1px solid grey; margin-top:1.9%; float:left">Student with Most Attendance:</h3>
<p style = "margin-top:0.8%; margin-left:20%; font-size:25px;"><b>&nbsp {{mode()}}</b></p>
</div>
</section>


