<div data-ng-controller="EventsController" data-ng-show="(authentication.user)">

<style type="text/css">
section{
  margin-top: 4%;
  margin-left: 5%;
  width:90%;
  margin-bottom: 5%;
  background-color: lightblue;
}
</style>
   <a class="btn btn-primary" href="#!/admin" style = "float: left;">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </a>
<section  data-ng-controller="HomeController">

<center><h1 style = "margin-bottom: 20px;"> Student Metrics </h1></center>
</section>
<br>
<style>
.styled-select select {
   font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
   background: #333;
   color: #ccc;
   width: 168px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   margin-left:0%;
   -webkit-appearance: none;
   }
   #cssmenu {
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 12em;
}
#cssmenu li {
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin-left: 0;
  padding: 20px 30px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("images/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}
</style>

<section data-ng-controller="EventsController" data-ng-init="find()">
<style type="text/css">
.chart {
  width: 100%;
  background-color: steelblue;
  border: 1px solid black;
  margin-bottom:5px;
  font: 20px sans-serif;
  text-align: left;
  color: white;
}
.chart th {
  border: 1px solid black;
  padding:5px;
  text-align:center
}
.chart td {
  padding-left:5px;
  border: 1px dashed black;
}
.chart_name div {
  font: 20px sans-serif;
  background-color: steelblue;
  
  text-align: left;
}
#too{
  border : 1px solid black;
  padding-left: 5px;
}
#drunk{
  float:center;
  margin-left: 20%;
}
  .TFtable{
    width:100%; 
    height: 50px;
    border-collapse:collapse; 
  }
  .TFtable td{ 
    padding:7px; border:#4e95f4 1px solid;
  }
  /* provide some minimal visual accommodation for IE8 and below */
  .TFtable tr{
    background: #b8d1f3;
    width: 10px;
  }
  /*  Define the background color for all the ODD background rows  */
  .TFtable tr:nth-child(odd){ 
    background: lightblue;
  }
  /*  Define the background color for all the EVEN background rows  */
  .TFtable tr:nth-child(even){
    background: white;
  }
</style>
<div id = "drunk">
<h4>Total Event Attendance</h4>
<p>In number of students</p>
</div>
<table class="chart">
  <thead>
    <tr>
      <th>Event</th>
      <th>Attendance</th>
      <th>Bar</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="event in events" >
      <td width="25%">{{event.name}}</td>
      <td>{{event.studentIDs.length}}</td>
      <td width="100%">BLANK</td>
    </tr>
  </tbody>
 </table>
<div id = "too">
<h3 style = "border-bottom: 1px solid grey; margin-top:1.9%; float:left">Average Event Attendance:</h3>
<p style = "margin-top:0.8%; margin-left:20%; font-size:25px;"><b>&nbsp {{average()}} students</b></p>
</div>
<div style = "height:100%; width:100%; overflow:auto; border: 1px solid black; padding:5px;">
  <h3 style = "border-bottom: 1px solid grey;">Student Points List</h3>
  <table class = "TFtable">
 <thead>
  <tr>
      <th>Student</th>
      <th>Points</th>
    
  </tr>
 </thead>

 <tbody>
  <tr data-ng-repeat = "go in listPoints() track by $index | limitTo:display_limit">
    <td>{{go.ufid}}</td>
    <td>{{go.points}}</td>
  </tr>
 </tbody>
  
</table>

</div>
</section>


</div>

