<style type="text/css">
#signinpage{
	margin-top: 10%;
}
</style>
	<h3 class="col-md-12 text-center">Check in below</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
<style type="text/css">
.styled-select select {
   background: white;
   font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
   width: 268px;
   padding: 5px;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   margin-left:0%;
   -webkit-appearance: none;
   }
   #toasto{
   	width: 20%;
   	height: 40%;
   	margin-top: -50%;
   	margin-left: 70%;
   }
   #toasti{
   	margin-top: -35%;
   }
</style>


<section data-ng-controller="EventsController" data-ng-submit="checkin()" data-ng-init="findOne()" nonvalidate>
    


		<form>
			<fieldset>
				<div class="form-group">
					<label for="username">UFID</label>
					<br>
					<br>
               <input data-ng-model = "ids" id="swipeufid" name="swipeufid" class="form-control"  placeholder="UFID">

				</div>

                              <input type = "submit" value="Check In" style = "display: none" class="btn btn-default">

				  <div class="form-group">
                    <input type = "submit" value="Check In" ng-click= "addStudents();" class="btn btn-default">
                    <br>
                    <a href = "/#!/events/{{event._id}}"  id = "toasto">
                    	<b class="btn btn-default" id = "toasti">DONE</b>	
                    </a>
                </div>
			</fieldset>
		</form>
	<p>Checked-In Students:</p>



  <div style="height:300px;width:250px;border:3px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
       <ul data-ng-repeat="ufid in event.studentIDs | orderBy:'id':true">
      <li>{{ufid.ufid}}</li>
        <ul>
</div>

        

</section>


        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

