<div data-ng-controller="EventsController" data-ng-show="(authentication.user)">

<section data-ng-controller="EventsController">
    <style type="text/css">

    
    #details{
    width: 100%;
    height: 100%;
    }
    </style>
    <div class="page-header">
        <br>
        <h1>New Event</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        <br>
                        <label class="control-label" for="details">Details</label>
                        <textarea rows = "8" data-ng-model = "details" id = "details" placeholder=" Details here!" required></textarea>
                    </div>
                </div>

               <label class="control-label" for="eventdate">Event Date</label> <br>
                              <link href="lib/jquery-ui-1.11.4.custom/jquery-ui.theme.css" rel="stylesheet" type="text/css" />     
   
                              <script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
                              <script src="lib/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>

                        <input name="dob" data-ng-model = "date" class="form control" id="datepicker" type="date" placeholder="mm/dd/yyyy" required>
                        <script>
                             $(function() {$( "#datepicker" ).datepicker();});
                        </script>

                <br>
                <br>


                <label class="control-label" for="eventtime">Event Time</label> <br>

                         <input id='time' type='time' data-ng-model = "time" name='timepicker'/ required>

                        <link rel='stylesheet' type='text/css'href='lib/TimePicki-master/css/timepicki.css'/>
                        <script type='text/javascript'src='lib/TimePicki-master/js/timepicki.js'></script>

                        <script>
                            $('#imepicker').timepicki(); 
                        </script>

                 <br>

              <label class="control-label" for="eventtime" >Point Value</label> <br>
                         
                          <input data-ng-model = "pointValue" min = "0" id = "point" type="number" name = 'pointpicker'/>
                         
                         <br>
                         <br>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                      <a href = "/#!/admin"  id = "toasto" style = "margin-left: 5%;">
                      <b class="btn btn-default" id = "toasti">CANCEL</b> 
                    </a>

                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
</div>