<section data-ng-controller="EventsController">
    <style type="text/css">

    
    #details{
    width: 100%;
    height: 100%;
    }
    </style>
    <div class="page-header">
        <br>
        <h1>New Event</h1>
    </div>
    <div class="col-md-12">
        <form name="eventCreate" class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control required" placeholder="Name" title="Event name" required>
                        <br>
                        <label class="control-label" for="details">Details</label>
                        <textarea rows = "8" data-ng-model = "details" id = "details" placeholder=" Details here!" class = "required" title="Details" required></textarea>
                    </div>
                </div>

               <label class="control-label" for="eventdate">Event Date</label> <br>
                              <link href="lib/jquery-ui-1.11.4.custom/jquery-ui.theme.css" rel="stylesheet" type="text/css" />     
   
                              <script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
                              <script src="lib/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>

                        <input name="dob" data-ng-model = "date" class="form-control required" id="datepicker" type="date" placeholder="mm/dd/yyyy" title="Date" required>
                        <script>
                             $(function() {$( "#datepicker" ).datepicker();});
                        </script>

                <br>
                <br>


                <label class="control-label" for="eventtime">Event Time</label> <br>

                    <input id='timepicker' type='time' data-ng-model = "time" name='timepicker' pattern="(1[0-2]|[1-9]):[0-5][0-9](\\s)?(?i)(am|pm)" title="Time in HH:MM am/pm format" required>

                 <br>

              <label class="control-label" for="eventtime" >Point Value</label> <br>
                         
                          <input data-ng-model = "pointValue" class="required" id = "point" type='number' name = 'pointpicker' title="Event point value" required/>
                         
                         <br>
                         <br>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
