
<script>
$('#datepicker').datepicker({minDate: 0});
</script>

<div data-ng-show="(authentication.user)">

<section data-ng-controller="EventsController">
    <style type="text/css">

    
    #details{
    width: 100%;
    height: 100%;
    }
    </style>
    <div class="page-header">
        <br>
        <h1>New Event</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        <br>
                        <label class="control-label" for="details">Details</label>
                        <textarea rows = "8" data-ng-model = "details" id = "details" placeholder=" Details here!" required></textarea>
                    </div>
                </div>


              
          <label class="control-label" for="eventdate">Event Date</label> <br>
                    
                        <input data-ng-model = "date" id="datepicker" data-ng-init = "dateMin()" input type="date" placeholder="mm/dd/yyyy" required>
                 
                <br>
                <br>


                <label class="control-label" for="eventtime">Event Time</label> <br>

                         <input id='time' type='time' data-ng-model = "time" name='timepicker'/ required>

                        <link rel='stylesheet' type='text/css'href='lib/TimePicki-master/css/timepicki.css'/>
                        <script type='text/javascript'src='lib/TimePicki-master/js/timepicki.js'></script>

                        <script>
                            $('#imepicker').timepicki(); 
                        </script>

                 <br>

              <label class="control-label" for="eventtime" >Point Value</label> <br>
                         
                          <input data-ng-model = "pointValue" id = "point" type="number" min = "0" name = 'pointpicker'/ required>
                         
                         <br>
                         <br>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                      <a href = "/#!/admin"  id = "toasto" style = "margin-left: 5%;">
                      <b class="btn btn-default" id = "toasti">CANCEL</b> 
                    </a>

                </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
            </fieldset>
        </form>
    </div>
</section>
</div>
