<style type="text/css">
section{
	margin-top: 7%;
	margin-left: 0%;
	background-color: lightblue;
}
</style>
<section  data-ng-controller="EventsController">
<center><h1>Student Attendance</h1></center>
</section>

<style>
.styled-select select {
   background: white;
   font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
   width: 268px;
   padding: 5px;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   margin-left:0%;
   -webkit-appearance: none;
   }
   #toasto{
      float: right;
      margin-bottom: 2%;
   }
</style>

<br>
<br>


<body>
	<div class = "container" ng-controller = "EventsController" data-ng-submit="addStudents()" data-ng-init="findOne()" nonvalidate>
		<table class = "table">
         <TH> UFIDS </TH>
		</table>
         <ul data-ng-repeat="ufid in event.studentIDs" data-ng-show="authentication.user">
         <li>{{ufid.ufid}}</li>
         <p>{{ufid.time}}</p>
         </ul>
       <a href = "/#!/events/{{event._id}}"  id = "toasto">
            <b class="btn btn-default" id = "toasti">DONE</b>  
         </a>  
	</div>
   
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
</body>